# Dependencies
node_modules/

# Build outputs
dist/
coverage/
*.tsbuildinfo

# Generated Prisma client (optional – you can choose to keep it)
packages/api/src/generated/prisma/

# Turbo cache
.turbo/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log

#docs
docscookies.txt
